.gallery__item {
  background-color: #FFF;
  border-radius: 3%; /*резка углов*/
  color: #000;
}

@media screen and (max-width: 480px){
  .gallery__item { /*PixelPerfect*/
    min-height: 361px;
  }
}
