.gallery__item-like { /*лайк фотки*/
  justify-self: end;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.png);
}

.gallery__item-like:hover {
  opacity: 0.5;
  cursor: pointer;
}
